.Player {
  background-color: #95908C;
  height: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-sizing: border-box;
  justify-content: space-between;
  position: absolute;
  top: 84px;
  right: 0;
  width: 100%;
  transition: transform 0.3s ease; }
  .Player.isHidden {
    transform: translateY(101%); }
  .Player .trackTextWrapper {
    margin-top: 5rem;
    text-align: center; }
  .Player .audioControlsWrapper {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .Player .audioControlsWrapper .audioControls-button {
      background-color: #2C2825;
      margin: 0 1rem; }
    .Player .audioControlsWrapper .small {
      height: 30px;
      width: 30px; }
    .Player .audioControlsWrapper .big {
      height: 60px;
      width: 60px; }
  .Player .collapsable {
    position: absolute;
    right: 0; }
