@import '../common/styles/variables.scss';

.Player {
    background-color: $color-gray-medium;
    height: calc(100% - 88px);

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    box-sizing: border-box;
    justify-content: space-between;

    position: absolute;
    top: 84px;
    right: 0;
    width: 100%;

    transition: transform 0.3s ease;

    &.isHidden {
      transform: translateY(101%);
    }

    .trackTextWrapper {
      margin-top: 5rem;
      text-align: center;
    }

    .audioControlsWrapper {
      margin-bottom: 5rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      .audioControls-button {
        background-color: $color-gray-darker;
        margin: 0 1rem;
      }

      .small {
        height: 30px;
        width: 30px;
      }

      .big {
        height: 60px;
        width: 60px;
      }
    }

    .collapsable {
      position: absolute;
      right: 0;
    }
}