.App {
  overflow: hidden;
  position: relative;
}

html, body, #root, .App {
  height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
} 

li {
  list-style: none;
}

::-webkit-scrollbar { 
    display: none; 
}

.App-content {
  height: 100%;
}